@font-face {
    font-family: OldLondon;
    src: url(OldLondon.ttf);
}

:root {
    --cor-principal: #E5BA85;
    --cor-hover: #be9b6f;
}

html * {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img/fundo.jpg);
}

header {
    text-align: center;
    padding: 10px;
}

#barra {
    margin: 0.75rem auto 0px auto;
    border-top: 2px solid rgb(50, 50, 50);
    border-bottom: 2px solid rgb(50, 50, 50);
    width: 95vw;
    text-align: center;
    padding: 5px;
    margin-bottom: 2rem;
}

header h1 {
    font-size: 3rem;
    font-family: OldLondon;
    text-align: center;
    font-weight: 550;
}

#voltar {
    position: absolute;
    top: .9rem;
    left: 1rem;
    width: 60px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 200ms;
}

a:hover #voltar {
    transform: scale(1.2);
}

#menu {
    position: absolute;
    width: 60px;
    top: .9rem;
    right: 1rem;
}

main {
    margin-bottom: 2rem;
    padding: 0px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5rem;
    row-gap: 1.5rem;
}

.article {
    position: relative;
    display: inline-block;
    padding: 1rem;
    margin: .5rem;
    text-decoration: none;
    transition: all 0.3s ease;
    background: transparent;
    border-radius: 8px;
}

.article:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    border-radius: 10px;
}

.article:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

.grid1 {
    grid-column: 1/3;
}

.grid2 {
    grid-column: 2/4;
}

.article h2 {
    color: black;
    text-align: left;
    margin-left: .5rem;
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

.article p {
    color: rgb(50, 50, 50);
    text-align:justify;
    margin: 0px 2rem;
}

::-webkit-scrollbar {
    width: 12px;
    background-image: url(img/fundo.jpg);
    background-size: contain;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}
