@font-face {
    font-family: OldLondon;
    src: url(OldLondon.ttf);
}

html * {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5BA85;
}

header {
    padding: 10px;
}

header::after {
    content: '';
    margin-top: 0.75rem;
    position: absolute;
    left: 2vw;
    border-top: 2px solid black;
    width: 95vw;
}

header h1 {
    font-size: xx-large;
    font-family: OldLondon;
    text-align: center;
}

main {
    padding: 0px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5rem;
}

.article {
    margin: 1rem 0rem;
    padding: 1.5rem;
    border: 1px black 
}

.grid1 {
    grid-column: 1/3;
    border-right: 1px solid black;
}

.grid2 {
    grid-column: 2/4;
    border-left: 1px solid black;
}

.article h2 {
    text-align: center;
}

.article p {
    text-align:justify;
}