@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: OldLondon;
    src: url(OldLondon.ttf);
}

:root {
    --cor: black;
	--cor-leve: rgb(50, 50, 50);
	--cor-fundo: rgb(252, 245, 245);
	--cor-fundo-des: rgba(0, 0, 0, 0.068);
}

@media (prefers-color-scheme: dark) {
	:root {
		--cor: white;
		--cor-leve: rgb(205, 205, 205);
		--cor-fundo: rgb(37, 32, 32);
		--cor-fundo-des: rgba(255, 255, 255, 0.068);
	}
}

@media (min-width: 1200px) {
	main {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		column-gap: 1rem;
		row-gap: 1.5rem;
	}

	.grid1 {
    	grid-column: 1/4;
		grid-row: 1;
	}

	.grid2 {
		grid-column: 4/7;
	}
	
	.span2 {
		grid-column: span 2;
	}

	.gif {
		grid-row: 1/4;
	}
}

@media (min-width: 1000px) and (max-width: 1199px) {
	main {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 1rem;
		row-gap: 1.5rem;
	}

	.grid1 {
    	grid-column: 1;
	}

	.grid2 {
		grid-column: 2;
	}

	.gif {
		grid-row: 1/3;
	}
}

html * {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
	color: var(--cor);
    background: var(--cor-fundo);
	font-family: roboto;
}

header {
    text-align: center;
    padding: 10px;
}

h1 {
	font-size: 3rem;
	margin-bottom: 1rem;
    font-family: OldLondon;
    text-align: center;
    font-weight: 550;
}

main {
    margin: 2rem 0px;
    padding: 0px 50px;
    
}

.article {
    position: relative;
    display: inline-block;
    padding: 1rem;
    margin: 0.5rem;
    text-decoration: none;
    transition: all 0.3s ease;
    background: transparent;
    border-radius: 8px;
	height: fit-content;
}

@media (min-width: 0px) and (max-width: 999px) {
	.article {
		margin: 3rem .5rem;
	}

	h1 {
		font-size: 5rem;
	}
}

.article:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: var(--cor-fundo-des);
    transition: all 0.3s ease;
    border-radius: 10px;
}

.article:focus-visible:after, .article:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

h2 {
	color: var(--cor);
    text-align: left;
    font-size: 1.25rem;
    margin-bottom: .5rem;
	text-decoration: underline;
}

p {
	color: var(--cor-leve);
    text-align:justify;
    margin: 0px .5rem;
}

.gif {
	margin: 1.5rem 3rem;
	text-align: center;
}

.gif img {
	width: 80%;
	box-shadow: 0 0 0 .4rem var(--cor-fundo), 0 0 0 .6rem var(--cor-leve);
}